/*css rest start*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

/*css rest end*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.wrap {
    max-width: 1024px;
    height: auto;
    margin: 0 auto;
    font-family: Microsoft JhengHei;
}

header {
    position: relative;
}

.to-top {
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #bbb;
    opacity: 0.3;
    z-index: 1;
    font-size: 1.6rem;
    line-height: 3rem;
    text-align: center;
    color: #333;
    cursor: pointer;
}

.clearfix {
    clear: both;
}

/* header */

.banner {
    position: relative;
    height: 420px;
    background: url('https://hexschool.github.io/Rwd_sketch_export/assets/header_desktop.png') no-repeat center;
}

.nav-bar {
    position: relative;
    height: 56px;
    padding: 16px 16px 16px 42px;
    background-color: rgb(0, 0, 0, 0.7);
}

.nav-bar .logo {
    display: block;
    float: left;
    background-image: url('https://hexschool.github.io/Rwd_sketch_export/assets/logo_w@svg.svg');
    width: 120px;
    height: 24px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

.nav-bar .menu {
    display: block;
    float: right;
}

.nav-bar .menu li {
    float: left;
}

.nav-bar .menu li a {
    padding-bottom: 18px;
    color: #fff;
    margin-right: 31px;
}

.nav-bar .menu li a:hover {
    border-bottom: 2px solid #fff;
    transition: all 0.3s;
}

.menu-icon {
    position: relative;
    display: none;
    float: right;
    width: 30px;
    height: 22px;
    cursor: pointer;
    z-index: 2;
}

.menu-icon span {
    display: block;
    width: 25px;
    height: 2px;
    background-color: #fff;
    transition: all ease 0.15s;
}

.menu-icon span:nth-child(2) {
    position: absolute;
    top: 18px;
}

.menu-icon span:nth-child(3) {
    position: absolute;
    top: 9px;
}

.banner-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    padding: 22px 22px;
    background: rgba(0, 0, 0, 0.3);
}

.banner-title h2 {
    font-size: 36px;
    margin-bottom: 16px;
}

.banner-title i {
    margin: 0 8px;
}

.banner-title p {
    line-height: 22px;
}

@media (max-width: 414px) {

    .banner {
        background: url('https://hexschool.github.io/Rwd_sketch_export/assets/header_mobile.png') no-repeat center;
    }

    .nav-bar {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        z-index: 3;
    }

    .banner-title {
        width: 80%;
        padding: 22px 22px;
    }

    .banner-title h2 {
        font-size: 28px;
    }

    .menu-icon {
        display: block;
    }

    .banner .menu {
        position: absolute;
        top: 56px;
        left: 0;
        display: none;
        clear: both;
        width: 100%;
        background-color: rgb(0, 0, 0, 0.7);
        padding: 16px 16px 16px 42px;
    }

    .banner .menu li a:hover {
        border: none;
    }

    .active span:nth-child(1) {
        background-color: #fff;
        opacity: 0;
    }

    .active span:nth-child(2) {
        background-color: #fff;
        transform: rotate(45deg);
        top: 10px;
    }

    .active span:nth-child(3) {
        background-color: #fff;
        transform: rotate(-45deg);
    }
}

/* index-content */

.content {
    height: auto;
    background-color: #EFE9E7;
}

.point {
    height: auto;
    text-align: center;
    padding: 50px 0;
    color: #3D1101;
}

.point-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.point-title span {
    width: 7rem;
    padding: 2px 0;
    margin: 0 20px;
    vertical-align: middle;
    border-bottom: 1px solid #3D1101;
}

.point-title h3 {
    font-size: 20px;
    color: #3D1101;
    line-height: 32px;
}

.point-card li {
    float: left;
    width: 30.33333%;
    margin: 0 1.5% 30px;
}

.point-card .photo {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 30px auto 0px;
}

.point-card p {
    margin: 20px;
}

.point-card p:nth-child(2) {
    font-size: 18px;
    font-weight: 700;
}

.point-card p:nth-child(3) {
    text-align: left;
    line-height: 20px;
}

@media (max-width:414px) {

    .point-title {
        margin-bottom: 20px;
    }

    .point-title span {
        display: none;
    }

    .point-card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .point-card li {
        float: none;
        width: 90%;
        margin: 0 1.5%;
    }

    .point-card p:nth-child(3) {
        text-align: center;
        line-height: 20px;
    }
}

.main-chef {
    display: flex;
    align-items: center;
    height: auto;
    background-color: #3D1101;
    padding: 0px 42px;
}

.main-chef div {
    flex: 1;
}

.chef-info {
    flex: 3;
    padding: 20px 0;
    margin-left: 25px;
    color: #fff;
    line-height: 24px;
}

.chef-info h4 {
    font-size: 20px;
}

.chef-info :nth-child(2) {
    margin-bottom: 20px;
}

@media (max-width:414px) {

    .main-chef {
        flex-direction: column;
    }

}

.feedback {
    height: 365px;
    padding: 50px 0;
    color: #3D1101;
}

.feedback>p {
    font-size: 24px;
    text-align: center;
    margin: 0 0 32px 0;
}

.feedback li {
    float: left;
    width: 30.33333%;
    margin: 0 1.5%;
}

.feedback .photo {
    float: left;
    width: 67px;
    height: 67px;
    border-radius: 50%;
    overflow: hidden;
}

.feedback-info {
    padding-left: 80px;
}

.feedback-info p:nth-child(1) {
    font-size: 18px;
    line-height: 67px;
}

.feedback-info p:nth-child(2) {
    margin: 16px 0;
    line-height: 20px;
}

.feedback-info p:nth-child(3) {
    text-align: right;
}

@media (max-width:414px) {

    .feedback {
        height: auto;
    }

    .feedback li {
        float: none;
        width: 85%;
        margin: 0 auto 20px;
    }
}

.reserve {
    background-color: #fff;
    color: #3D1101;
    padding: 50px 42px;
}

.reserve>P {
    font-size: 24px;
    text-align: center;
    line-height: 28px;
}

.reserve-info {
    margin-top: 38px;
    display: flex;
}

.reserve-info form {
    width: 48%;
    margin-left: 20px;
}

.reserve-info form>label,
.reserve-info form>input {
    display: block;
    margin: 12px 0;
}

.reserve-info form>label {
    font-size: 14px;
}

.reserve-info form>input {
    width: 100%;
    padding: 5px 14px;
    border-radius: 3px;
    border: 1px solid #ccc;
    outline: none;
}

.reserve-info input[placeholder] {
    font-size: 16px;
    color: #ccc;
}

.reserve-info form>input:focus {
    box-shadow: inset 1px 1px 1px 1px #ccc;
    transition: all 0.3s;
}


.reserve-info form>p {
    margin: 24px 0;
    line-height: 28px;
}

.reserve-info input[type="radio"] {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #ccc;
    -webkit-appearance: none;
    margin-right: 10px;
    outline: none;
    position: relative;
    vertical-align: middle;
    vertical-align: -22%;
    cursor: pointer;
}

.reserve-info input[type="radio"]:hover {
    border: 1px solid #333;
    transition: all 0.3s;
}


.reserve-info input[type="radio"]:checked {
    border: 1px solid #4A90E2;
}

.reserve-info input[type="radio"]:checked::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: #4A90E2;
    border-radius: 50%;
}

.reserve-info span {
    float: right;
    font-size: 18px;
}

.reserve-info button {
    width: 70px;
    height: 32px;
    outline: none;
    border: none;
    border-radius: 3px;
    color: #fff;
    transition: all 0.3s;
    cursor: pointer;
}

.reserve-info button:nth-child(1) {
    background-color: rgba(0, 0, 0, 0.3);
}

.reserve-info button:nth-child(2) {
    background-color: rgb(243, 164, 45);
}

.reserve-info button:hover {
    transform: translateY(-5px);
}

@media (max-width:414px) {

    .reserve {
        padding: 20px 20px;
    }

    .reserve-info {
        flex-direction: column;
    }

    .reserve-info form {
        width: 100%;
        margin: 0;
    }

}

/* menu-content */

.menu-content {
    display: flex;
    padding: 50px 42px;
}

.menu-sidebar {
    flex: 1;
    color: #3D1101;
}

.menu-sidebar h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.menu-sidebar h3 i {
    margin-right: 10px;
}

.menu-sidebar li a {
    display: block;
    width: 90%;
    padding: 15px 8px;
    border-bottom: 1px solid #3D1101;
}

.menu-sidebar li a {
    text-decoration: none;
    color: #3D1101;
}

.menu-sidebar li a:hover {
    color: #fff;
    background-color: #3D1101;
    cursor: pointer;
}

.menu-content .menu {
    flex: 3;
}

.menu-navbar {
    margin: 0 0 26px 1.5%;
}

.menu-navbar label {
    position: relative;
}

.menu-navbar label>a {
    position: absolute;
    border-radius: 3px;
    right: -30px;
    width: 36px;
    height: 36px;
    font-size: 18px;
    color: #fff;
    background-color: #3D1101;
    line-height: 36px;
    text-align: center;
}

.menu-navbar input {
    width: 424px;
    height: 36px;
    outline: none;
    padding: 10px;
    border: 1px solid #3D1101;
    border-radius: 3px;
}

@media (min-width:767px) {

    .menu-navbar input:focus {
        width: 460px;
        transition: all 0.3s;
    }

}


.shopping {
    float: right;
    margin-right: 1.5%;
}

.shopping a {
    display: block;
    color: #3D1101;
    line-height: 36px;
}

.shop-card {
    display: flex;
    flex-wrap: wrap;
}

.food {
    width: 30.3333%;
    margin: 2% 1.5%;
    color: #3D1101;
    text-align: center;
    padding-bottom: 20px;
    box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
}

.food .photo {
    margin-bottom: 12px;
}

.food h4 {
    font-size: 20px;
}

.food p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
}

.food span {
    padding: 0 50px;
    border-top: 1px solid #3D1101;
}

.cost {
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    color: #3D1101;
    margin-bottom: 20px;
}

.food button {
    color: #3D1101;
    padding: 5px 50px;
    outline: none;
    border: none;
    background-color: #EFE9E7;
    border: 2px solid #FF5E45;
    border-radius: 3px;
}

.food button:hover {
    background-color: #FF5E45;
    cursor: pointer;
}

.food button i {
    margin-right: 10px;
}

@media (max-width:769px) {

    .food {
        width: 48%;
        margin: 3% 1%;
    }

    .shopping {
        float: none;
    }

}


@media (max-width:414px) {

    .menu-content {
        flex-wrap: wrap;
        justify-content: center;
    }


    .menu-sidebar {
        width: 100%;
        flex: none;
        margin-bottom: 30px;
    }


    .menu-content .menu {
        width: 100%;
        flex: none;
    }

    .menu-navbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .menu-navbar label {
        width: 100%;
        margin-bottom: 10px;
    }

    .menu-navbar label>a {
        display: block;
        right: 0px;
        top: 0;

    }

    .menu-navbar input {
        width: 100%;
        height: 36px;
        outline: none;
        padding: 10px;
        border: 1px solid #3D1101;
        border-radius: 3px;
    }

    .shopping {
        float: none;
        margin: 0;
    }

    .shopping a {
        color: #3D1101;
        line-height: 36px;
    }

    .food {
        width: 100%;
        margin: 5% 0%;
    }

}

/* login-content & register-content */

.login-content,
.register {
    padding: 50px 0;
    text-align: center;
    color: #3D1101;
}

.login-content h3 {
    margin: 0 auto;
    display: block;
    background-image: url('https://hexschool.github.io/Rwd_sketch_export/assets/logo_l@svg.svg');
    width: 243px;
    height: 48px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

.login-content>p {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 35px;
}

.login {
    width: 300px;
    height: 300px;
}

.login,
.register {
    margin: 0 auto;
    padding: 15px;
    border-top: 3px solid #FF5E45;
    box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
}

.register {
    width: 620px;
}

.register-info {
    display: flex;
    margin: 0 auto;
}

.login p:nth-child(1),
.register>p {
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 24px;
}

.login label,
.login input,
.register-info input,
.register-info label {
    display: block;
    text-align: left;
    margin: 6px 0;
    width: 100%;
}

.login label,
.register-info label {
    position: relative;
}

.login label::before,
.register-info form label::before {
    color: rgba(61, 17, 0, 0.50);
    position: absolute;
    top: 30px;
    left: 10px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 18px;
}

.login label:nth-child(2)::before,
.register-info form label:nth-child(1)::before {
    content: '\f0e0';
    display: block;
}

.login label:nth-child(4)::before,
.register-info form label:nth-child(3)::before {
    content: '\f023';
    display: block;
}

.login input,
.register-info input {
    padding: 10px;
    border-radius: 3px;
    outline: none;
    border: 1px solid #ccc;
    text-indent: 30px;
    color: rgba(61, 17, 0);
}

.login input:focus,
.register-info input:focus {
    box-shadow: inset 1px 1px 1px 1px #ccc;
    transition: all 0.3s;
}

.login input:nth-child(3),
.register-info form input:nth-child(2) {
    margin-bottom: 24px;
}

.login p:nth-child(6),
.register-info form p:nth-child(5) {
    font-size: 14px;
    text-align: left;
    margin-bottom: 30px;

}

.login p:nth-child(6) a,
.register-info form p:nth-child(5) a {
    color: #FF5E45;
}

.login button,
.register-info form button {
    width: 125px;
    height: 32px;
    outline: none;
    border: none;
    color: #fff;
    font-size: 14px;
    font-family: Microsoft JhengHei;
    border-radius: 3px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.35);
}

.login button {
    float: left;
}

.login button a {
    color: #fff;
}

.login button:nth-child(8),
.register-info form button {
    background: #F56C23;
    float: right;
}

.login button:hover,
.register-info form button:hover {
    transform: translateY(-3px);
    transition: all 0.3s;
}

.register-info form button {
    float: right;
}

.register-info>p {
    flex: 2;
    text-align: left;
    margin-right: 20px;
}

.register-info>p span {
    display: block;
    font-size: 18px;
}

.register-info>form {
    flex: 2;
}

@media (max-width:414px) {

    .register {
        width: 100%;
    }

    .register-info {
        flex-wrap: wrap;
    }

    .register-info>p {
        width: 100%;
        flex: none;
        text-align: left;
        margin: 0 0 20px 0;
    }
}


/* footer*/

footer {
    padding: 50px 50px;
    background-color: #EFE9E7;
    display: flex;
    color: #3D1101;
}

footer .logo>a {
    display: block;
    float: left;
    background-image: url('https://hexschool.github.io/Rwd_sketch_export/assets/logo_l@svg.svg');
    width: 243px;
    height: 48px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;

}

footer .aboutus {
    flex: 3;
    margin: 0 20px;
    line-height: 20px;
}

footer .contact {
    flex: 3;
    margin: 0 20px;
    line-height: 20px;
}

.contact li {
    list-style-type: disc;
    list-style-position: inside;
}

.aboutus p:nth-child(1),
.contact p:nth-child(1) {
    font-size: 24px;
    margin-bottom: 12px;
}

.logo {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex: 2;
}

.social-media {
    font-size: 36px;
    cursor: pointer;
}

.social-media i:nth-child(1) {
    color: #DB4437;
}

.social-media i:nth-child(2) {
    color: #41ABE1;
}

.social-media i:nth-child(3) {
    color: #3A5795;
}

@media (max-width:769px) {
    footer .aboutus {
        display: none;
    }
}

@media (max-width:414px) {

    footer {
        flex-direction: column;
        width: 100%;
        padding: 25px;
    }

    footer .contact {
        flex: 1;
        margin-bottom: 30px;
        line-height: 20px;
    }

}